ErrorDocument 404 /404errorpages.php
ErrorDocument 404 /404errorpages.php
SetEnv DB_HOST "localhost"
SetEnv DB_USER "u955994755_suchi_2003"
SetEnv DB_PASS "(Such#Brata@2003)"
SetEnv DB_NAME "u955994755_USER"

SetEnv ADMIN_DB_USER "u955994755_Admin_2003"
SetEnv ADMIN_DB_NAME "u955994755_admin_login"
SetEnv ADMIN_DB_PASS "Suchi#Brata@2003"