body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.header {
    background-color: white;
    color: black;
    text-align: right;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-xs-6 {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.tab-content {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.logout {
    color: white;
    background-color: red;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
}

.logout:hover {
    background-color: yellow;
    color: black;
}

.document-preview {
    width: 100px;
    height: auto;
    border: 2px dashed #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-weight: bold; */
    color: #888888;
    margin-top: 20px;
    background-size: contain;
    /* Adjusted to 'contain' */
    background-repeat: no-repeat;
    /* Prevent background repetition */
    background-position: center center;
}

.custom-upload-btn {
    background-color: rgb(255, 253, 208);
    color: rgb(0, 0, 0);
    padding: 4px 7px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.preview-img {
    max-height: 150px;
    width: 150px;
    border: 1px solid #ddd;
    display: block;
    margin: auto;
}

.custom-file-input {
    color: #ffffff;
    width: 120px;
    border: none;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Choose File';
    display: inline-block;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-input:hover::before {
    background-color: #333;
}

.custom-file-input:active::before {
    background-color: #666;
}

.td {
    border: 1px solid red;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}